.page.theme_light {
  --background-color:var( rgba(255, 241, 247, 1));
  --accent-color: #fff1f7;
  --menu-color: #353430;
  --text-color: #353430;
  --heading-color: #ffc2e6;
   --title-decor-color: #000028;
   --background-images: rgba(255, 241, 247, 1);
  --title-color: #FF8DCB;
  --hover-border-color: rgba(50, 49, 45, 0.4);
  --display-bulb: none;
  --main-title-color:rgb(255, 194, 230);
  --background-image: url(../images/cover-image-light.png);
  --texts-color:  rgb(255, 194, 230);
  --text-shadow: 1px 1px 0 var(--color-purple-2, #ff0070);
}
