:root {
  --color-pink-1: #fff1f7;
  --color-pink-2: #f1b2ce;
  --color-pink-3: #ffc2e6;
  --color-pink-4: #ff8dcb;
  --color-purple-1: #db00ff;
  --color-purple-2: #ff0070;
  --color-purple-2-o-40: rgb(255, 141, 203);
  --color-black-1: #000028;
  --color-black-2: #353430;
  --color-black-2-o-40: #35343040;
  --background-image: url(../images/cover-image-light.png);
  --text-color: var(--color-pink-2, #f1b2ce);
  --brand-color: var(--color-purple-1, #db00ff);
  --secondary-color: var(--color-purple-2, #ff0070);
  --secondary-color-o-40: var(--color-purple-2-o-40, #ff007040);
  --accent-color: var(--color-purple-2, #ff0070);
  --highlight-color: var(--color-black-1, #000028);
  --background-color:var( rgba(255, 241, 247, 1));
  --title-decor-color: #000028;
  --page-font-family: "IBM Plex mono", monospace;
  --page-background-image:  var(rgba(0, 0, 40, 1));
  --background-images: rgba(255, 241, 247, 1);
  --page-background-color: var(--color-black-1, rgba(255, 241, 247, 1));
  --rec-decor-visibility: visible;
  --text-shadow: 1px 1px 0 var(--color-purple-2, #ff0070);
}
